---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: kube-system
  name: k8s-proxy-image-swapper-webhook-deployment
  labels:
    app: k8s-proxy-image-swapper-webhook
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: k8s-proxy-image-swapper-webhook
  template:
    metadata:
      labels:
        app: k8s-proxy-image-swapper-webhook
    spec:
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
      - name: k8s-proxy-image-swapper-webhook
        env:
        {{ if .Values.enableDebug -}}
        - name: LOGLEVEL
          value: DEBUG
        {{- end }}
        - name: REGISTRY_URL
          value: {{ .Values.registryUrl }}
        image: {{ .Values.image.repository}}:{{ .Values.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: ["/config/config.yaml"]
        ports:
        - containerPort: 8443
        volumeMounts:
        - name: k8s-proxy-image-swapper-config
          mountPath: "/config"
          readOnly: true
        - name: k8s-proxy-image-swapper-tls-secret
          mountPath: {{ .Values.tlsdirpath }}
          readOnly: true
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      volumes:
      - name: k8s-proxy-image-swapper-config
        configMap:
          optional: false
          name: k8s-proxy-image-swapper-config
          items:
          - key: config.yaml
            path: config.yaml
      - name: k8s-proxy-image-swapper-tls-secret
        secret:
          secretName: k8s-proxy-image-swapper-tls-secret
